language: python
python:
    - 2.6
    - 2.7
    - 3.3
    - 3.4
    - 3.5 
    - 3.6 
    - 3.7-dev 
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install python-dev -qq
    - wget https://github.com/ssdeep-project/ssdeep/releases/download/release-2.14/ssdeep-2.14.tar.gz
    - tar -zxvf ssdeep-2.14.tar.gz
    - cd ssdeep-2.14
    - ./configure && make
    - sudo make install
    - sudo ldconfig
    - cd ..
install:
    - python setup.py build
    - python setup.py install
before_script:
    - export PYTHONPATH=$PYTHONPATH:$(pwd)
    - cd tests
script:
    - python test.py
